/* 產品-陶球 */

#product-main{
    margin-bottom: 120px;
}

.product-box{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 6px 8px #999;
    margin: 10px 10px 20px 10px;
}

.product-box-text{
    padding: 20px;
}

.product-box-text h3{
    font-size: 21px;
    color: #a04628;
}


.product-box-text ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-box-text li{
    padding: 10px 0;
    border-top: 1px solid #dddddd;
}

/*產品分類-標題 */

.product-title{
    background-image: url('../img/bg-pottery-left.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    display: flex;
    justify-content: center;
    min-height: 260px;

}

.product-title img{
    min-width: 60px;
}

.title-phone{
    display: none;
}



/* 順序 */
.box-order{
    display: flex;
}

.box-frist{
    order: 1;
}

.box-end{
    order: 2;
}


@media screen and (max-width: 768px) {

    /*產品分類-標題-phone */

    .product-title{
        width: 40%;
        margin: auto;
        display: block;
        background-image: none;
        min-height: 0;
    }

    .title-phone{
        display: block;

    }

    .product-title-word{
        display: none;
    }




    /* 順序-phone */

    .box-order{
        display: flex;
    }

    .box-frist{

        order: 2;
    }

    .box-end{
        order: 1;
    }




}