#banner {
    width: 100%;
    /* position: relative; */
    /* height: 100vh; */
    /* text-align: center;
    font-size: 100px;
    color: cornflowerblue;
    font-weight: 900;
    line-height: 100vh; */
    z-index: -1;
}
.skip {
    text-decoration: none ;
    font-size: 40px;
    width: 400px;
    height: 200px;
    text-align: center;
    position: sticky;
    top: 93%;
    left: 46.5%;
    font-weight: 900;
    color: black;
    z-index: 99;
}

.skip:hover {
    text-decoration: none ;
    color: brown;
    transform: scale(1.2);
    transition: 0.5s;
}

#banner_background {
    width: 100%;
    height: 8000px;
    position: relative;
}
.lax_pic {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.lax {
    position: absolute;
    position: fixed;
}
.actor {
    top: 300px;
}
/* .contanier {
    width: 100%;
    height: 1000px;
    background-color: rgb(33, 24, 116);
} */
.bg {
    width: 100%;
    height: calc(100vh - 80px);
    bottom: 0px;
}
.cover {
    /* z-index: 5; */
}

@media (max-width:576px) {
    .skip {
        text-decoration: none ;
        font-size: 24px;
        width: 0;
        height: 0;
        text-align: center;
        position: sticky;
        top: 93%;
        left: 42%;
        font-weight: 900;
        color: red;
        z-index: 99;
    }
}