#banner {
    width: 100%;
    /* position: relative; */
    /* height: 100vh; */
    /* text-align: center;
    font-size: 100px;
    color: cornflowerblue;
    font-weight: 900;
    line-height: 100vh; */
    z-index: -1;
}

.skip_section {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 90vh;
    z-index: 999;
}

.skip {
    text-decoration: none ;
    font-size: 40px;
    text-align: center;
    position: sticky;
    font-weight: 900;
    color: black;
    z-index: 99;
}

.skip:hover {
    text-decoration: none ;
    color: brown;
    /* transform: scale(1.2); */
    transition: 0.5s;
    font-size: 50px;
    transform:rotate(360deg);
}

#banner_background {
    width: 100%;
    height: 8000px;
    position: relative;
}
.lax_pic {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.lax {
    position: absolute;
    position: fixed;
}
.actor {
    width: 35%;
    top: 25%;
}
/* .contanier {
    width: 100%;
    height: 1000px;
    background-color: rgb(33, 24, 116);
} */
.bg {
    width: 100%;
    height: calc(100vh - 80px);
    bottom: 0px;
}
.cover {
    /* z-index: 5; */
}

.font_bg {
    top: -5%;
    left: 15%;
}

@media(max-width:1500px) {
    .actor {
        width: 40%;
    }
}

@media(max-width:1300px) {
    .actor {
        width: 45%;
    }
}

@media(max-width:1150px) {
    .actor {
        width: 50%;
    }
}

@media(max-width:1000px) {
    .actor {
        width: 60%;
    }
}

@media(max-width:850px) {
    .actor {
        width: 65%;
    }
}

@media(max-width:768px) {
    .actor {
        top: 20%;
        width: 90%;
    }

    .bg {
        display: none;
    }

    .font_bg {
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (max-width:576px) {
    .skip {
        font-size: 24px;
        color: darkgoldenrod;

    }
}